doctype html
html 
    head
        title= title
    body
        if dataURLs
            for dataURL in dataURLs
                img(src=dataURL)
        if SVGs
            for SVG in SVGs
                !{SVG}